@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}


/* This is a hack to remove weird input acces color */
.radix-themes,
[data-accent-color]:where(:not([data-accent-color='gray'])) {
  --color-focus-root: transparent !important; 
}

/* Override slider color */
.rt-SliderRoot:where(.rt-variant-surface) :where(.rt-SliderRange) {
  background-color: #ef4444 !important;
}